<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body>
	{{>nav}}
	<main>
		<section class="section1">
            {{>fetching}}
          

        </section>
        <div class="spacer layer1"></div>
        <a id="books-anchor"></a>
		<section class="section2">
			{{>book}}

        </section>
        <div class="spacer layer2 flip"></div>
		<a id="how-does-it-work"></a>
		<section class="section3">
			{{>how-works}}
		</section>
		<div class="spacer layer2 "></div>
		<section class="section2">
			{{>socials}}
		</section>
	</main>
	<script src="../scripts/script.js"></script>
</body>

</html>