<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body>
	{{>nav}}
	<main>
		<section class="section1">
            {{>fetching}}
          

        </section>
        <div class="spacer layer1"></div>
        <a id="books-anchor"></a>
		<section class="section2">Content 2
            <h1>{{title}}</h1>

        </section>
        <div class="spacer layer2 flip"></div>
		<section class="section3">Content 3</section>
	</main>
	<script src="../scripts/script.js"></script>
</body>

</html>