<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body style="background: #dd3f31 !important;">
	{{>nav}}
    {{>StoredBooks}}
	<div class="spacer layer1"></div>
		<section class="section2">
			{{>socials}}
		</section>
	<script src="../scripts/script.js"></script>
</body>

</html>