
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center carta">
            <div class="card-header  carta-header">

                  <h1 class="title">Find a book </h1>
            </div>
            <div class="card-body">
                 <form action="http://localhost:8000#books-anchor" method="GET">
                    <div class="mt-3">
                        <input class="input form-control" type="text" name="code" placeholder="ISBN:code">
                    </div>
                    <div class="mt-3">
                        <button class=" btn btn-primary w-100" type="submit" id="submit"><span>GO</span> <i class="fa fa-check"></i></button>
                    </div>
                 </form>
            </div>
    </div>
        </div>


