<div>
    <h2 class="title titulo-how-work">How does it works</h2>
        <h6 class="subtitlefooter">It´s very simple :)</h6>
    <ol class="lista" >
        <li class="pasos">1 Find a book using it's ISBN code 
            <li class="example">For example: ISBN:0385472579</li>
        </li>
        <li class="pasos">2 The results will display automatically on your screen</li>
        <li class="pasos">3 Visit the storaged books you've fetched before</li>
    </ol>

</div>