<div class="navbar">
		<div class="navcontainer">
			<p class="logo">Books</p>
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Services</li>
				<li>Libros almacenados</li>
				<li class="active">Buscar libro</li>
			</ul>
		</div>
	</div>