<div class="navbar">
		<div class="navcontainer">
			<p class="logo">Books</p>
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>How does it Work?</li>
				<li class="active">Storaged books</li>
			</ul>
		</div>
	</div>