<div class="navbar">
		<div class="navcontainer">
			<p class="logo">Books <i class="fa fa-book" aria-hidden="true"></i></p>
			<ul>
				<li><a href="/">Home</a> </li>
				<li><a href="/#books-anchor">About</a> </li>
				<li><a href="/#how-does-it-work">How does it Work?</a></li>
				<li class="active">Storaged books</li>
			</ul>
		</div>
	</div>